doctype html
html
    head
        title= title
    body

        .container
            br
            br
            br
            br
            br
            br
            block content
            br
            hr
            footer
                p Copyright &copy; 2020
