extends layout
block content
 form(action='/listr', method='post')
   label &Icy;&mcy;&yacy;
   input(type='text', name='userName')
   label &Vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;
   input(type='number', name='userAge')
   input(type='submit', value='Отправить')